*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}

h1, h2, h3, h4 {
	font-family: Montserrat;
}

ul > li {
	padding: 5px;
}

nav {
	text-align: center;
	background-color: lightgray;

}

nav .nav-link {
	display: inline-block;
	text-decoration: none;
	margin:0.5rem;
	padding: 3px;

}


#landing{
	background-image: url(https://images.pexels.com/photos/261599/pexels-photo-261599.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	height: 50vh;
	color: white;

}

h1{
	padding-top: 3rem;
	font-size: 3rem;
}    

h3{
	margin: 1rem;
}

button{
	padding: 0.5rem;
	background-color: gray;
	border: 2px solid white;
	border-radius: 10px;
	color: white;

}

#hot {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#hot li {
	/*display: inline-block;
	background-color: lightgray;
	height: 50px;
	width: 200px;
	border-radius: 5px;
	margin-bottom: 10px;*/
	   display: inline-block;
    text-decoration: none;
    border: black solid 2px;
    border-radius: 12px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

#hot h2 {
	margin-bottom: 10px;
}
footer {
	text-align: center;
	background-color: lightgray;
	height: 5vh;
	align-items: center;
	display: flex;
	justify-content: center;
}